<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title %></title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav>
        <ul class="nav nav-pills">
          <li role="presentation"><a href="/gender_and_lastname">Gender and Last name</a></li>
          <li role="presentation"><a href="/birthday">Birthday</a></li>
          <li role="presentation"><a href="/lastname">Last name</a></li>
        </ul>
    </nav>
      <h1><%= @page_title %></h1>
      <%= yield %>
    </div>
  </body>
</html>
