<form action="/movies/new" method="post">

  <label for="movie_title">Movie Title:</label>
  <input type="text" id="movie_title" name="movie_title" /><br>

  <label for="release_year">Release Year:</label>
  <input type="text" id="release_year" name="release_year" /><br>

  <label for="rating">Rating:</label>
  <input type="text" id="rating" name="rating" /><br>

  <label for="genre_name">Genre Name</label>
    <select>
      <% @genres_list.each do |genre| %>
      <option value="<%= "#{genre["name"]}" %>"> <%= "#{genre["name"]}" %></option>
      <% end %>
    </select><br>

  <label for="studio_name">Studio Name</label>
   <select>
      <% @studios_list.each do |studio| %>
      <option value="<%= "#{studio["name"]}" %>"> <%= "#{studio["name"]}" %></option>
      <% end %>
    </select><br>

  <input type="submit" value="Submit" />

</form>
